<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Registration Form</title>

    <style>
        .error {color:red}
    </style>

</head>
<body>

<i>Fill out the form. "*" means required.</i>
<br><br>

<!--       where to submit form data---model attribute name--send using HTTP post-->
<form th:action="@{/processForm}" th:object="${customer}" method="POST">

    First name: <input type="text" th:field="*{firstName}" />

    <br><br>

    Last name (*): <input type="text" th:field="*{lastName}" />

    <!-- Add error message (if present) -->
    <!-- check if error message for lastName -->
    <!-- display error message for lastName -->
    <!-- CSS class for error message -->
    <span th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}"
          class="error">
    </span>

    <br><br>

    <!-- submit button -->
    <input type="submit" value="Submit" />

</form>

</body>
</html>