<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Directory</title>

    <!-- Sayfanın mobil uyumlu olması için gerekli olan meta etiketi -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS kütüphanesini dahil ediyoruz, bu kütüphane sayfanın tasarımını kolayca şekillendirmemizi sağlar. -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>

<!-- Bootstrap ile ortalanmış bir container yapısı oluşturuyoruz, bu sayede içerikler sayfanın ortasında düzgün görünür. -->
<div class="container">

    <!-- Başlık kısmı: Employee Directory olarak görünecek. -->
    <h3>Employee Directory</h3>
    <hr> <!-- Bu satır sayfanın başlık kısmını çizgi ile ayırır. -->

    <!-- Bootstrap'in 'table', 'table-bordered', 'table-striped' sınıfları tabloyu düzenler: çerçeveli ve sıralı stil sağlar. -->
    <table class="table table-bordered table-striped">
        <!-- Siyah arkaplan üzerinde First Name ------- Last Name ------- Email yazdıran kısım. -->
        <thead class="table-dark">
        <tr>
            <!-- Tablo başlıkları -->
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        </thead>

        <tbody>
        <!-- loop over the list of employees. "tempEmployee" is the temp loop variable -->
        <!-- ${employees} ile Java tarafında modeli temsilen çalışanların listesi alınır ve her bir çalışan için tempEmployee geçici değişkeni kullanılarak tablo satırları oluşturulur.-->
        <tr th:each="tempEmployee : ${employees}">

            <!-- Çalışanın firstName (ad) bilgisi bu hücrede gösterilir. -->
            <td th:text="${tempEmployee.firstName}" ></td>
            <!-- Çalışanın lastName (soyad) bilgisi bu hücrede gösterilir. -->
            <td th:text="${tempEmployee.lastName}" ></td>
            <!-- Çalışanın email bilgisi bu hücrede gösterilir. -->
            <td th:text="${tempEmployee.email}" ></td>

        </tr>
        </tbody>

    </table>

</div>

</body>
</html>
