<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Bu satır, Thymeleaf'in XML Namespaces için kullanılan prefix'ini belirtir.
     Bu sayede, th:text gibi Thymeleaf'e özgü öğeleri tanımlayabiliriz. -->

<head>
    <title>Thymeleaf Demo</title>
    <!-- HTML sayfanızın başlığı burada tanımlanmıştır. -->
</head>

<body>

<!-- "th:text" ifadesi, Thymeleaf tarafından kullanılır ve "theDate" modeli
     sayesinde sunucudan gelen tarihi ve zamanı bu paragrafa yazdırır.
     ${theDate} ifadesi, Java modelindeki "theDate" değişkenini temsil eder. -->
<p th:text="'Time on the server is ' + ${theDate}"></p>

</body>

</html>
